venv/
.venv/
__pycache__/
*.pyc
.DS_Store
*.log
.env
myenv/
env/
# personal_notes.md
# *.pdf
# *.docx
# *.xlsx
# *.PDF
# guide.md
# guide.pdf
# Large database files
*.sqlite3
*.db
# Day_5/vss/chroma_db/
chroma_db/