groq==0.9.0
chromadb==0.5.3
sentence-transformers==3.0.1
ragas==0.1.9
rank-bm25==0.2.2
pdfplumber==0.11.1
pandas==2.2.2
python-dotenv==1.0.1
google-cloud-discoveryengine==0.11.11
datasets==2.20.0
pytest==8.2.2
